@page "/news"
@using System.ServiceModel.Syndication
@using BlazorRSS.Services
@inject BlazorRSS.Services.RssFeedService RssFeedService



@if (newsItems == null)
{
    <p>Laddar</p>
}
else if (!newsItems.Any())
{
    <p>Finns inga nyheter att visa.</p>
}
else
{
    
     <Carousel Autoplay="CarouselAutoPlay.StartOnPageLoad" ShowIndicators="false" ShowPreviousNextControls="false" >
        <CarouselItem Active="true" Interval="5000">

            <div class="article-image">
                <Image Src="images/sydsvenskan-logo-only.png" Class="rounded mx-auto d-block"/>
            </div>
            
            <div class="article-info">
                <h3>Nyheter från Sydsvenskan</h3>
                <p> </p>
                <p> </p>
            </div>
        </CarouselItem>

        @foreach (var item in newsItems)
        {

        

            
            
            
            <CarouselItem Interval="15000">
                
                
                <div class="article-image">
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <Image Src="@item.ImageUrl" alt="@item.Title"  />
                }
                else
                {
                    <Image Src="images/sydsvenskan-logo-only.png" Class="rounded mx-auto d-block"/>
                }
                </div>

                <div class="article-container">
                    <div class="article-info">
                        <h3>@item.Title</h3>
                        <p><em>@item.PublishDate.ToLocalTime().ToString("MMMM dd, yyyy HH:mm")</em></p>
                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <p>@item.Description</p>
                        }
                        else
                        {
                            <p>@item.Summary</p>
                        }
                    </div>
                </div>

                
            </CarouselItem>
        
        }
    </Carousel>
}




@code {
    private List<RssFeedItem> newsItems;

    protected override async Task OnInitializedAsync()
    {
        newsItems = await RssFeedService.GetRssFeedAsync();
    }
}