@page "/news"
@using System.ServiceModel.Syndication
@using BlazorRSS.Services
@inject BlazorRSS.Services.RssFeedService RssFeedService

<h3>Nyheter från Sydsvenskan</h3>

@if (newsItems == null)
{
    <p>Laddar</p>
}
else if (!newsItems.Any())
{
    <p>Finns inga nyheter att visa.</p>
}
else
{
    <ul>
        @foreach (var item in newsItems)
        {
            <li style="margin-bottom: 20px;">
                <h3>@item.Title</h3>
                <p><em>@item.PublishDate.ToLocalTime().ToString("MMMM dd, yyyy HH:mm")</em></p>
                
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@item.ImageUrl" alt="@item.Title" style="max-width: 100%; height: auto; margin-bottom: 10px;" />
                }

                @if (!string.IsNullOrEmpty(item.Description))
                {
                    <p>@item.Description</p>
                }
                else
                {
                    <p>@item.Summary</p>
                }
            </li>
        }
    </ul>
}


@code {
    private List<RssFeedItem> newsItems;

    protected override async Task OnInitializedAsync()
    {
        newsItems = await RssFeedService.GetRssFeedAsync();
    }
}