@page "/scrollfeed"
@using System.ServiceModel.Syndication
@using BlazorRSS.Services
@inject BlazorRSS.Services.RssFeedService RssFeedService
@inject IJSRuntime JSRuntime



@if (newsItems == null)
{
    <p>Laddar</p>
}
else if (!newsItems.Any())
{
    <p>Finns inga nyheter att visa.</p>
}
else
{
    <div class="container">
        <div class="scrollnews" id="scroll-container">
    

            

            <div class="article-info">
                <h3>Nyheter från Sydsvenskan</h3>
                <p> </p>
                <p> </p>
            </div>
        

        @foreach (var item in newsItems)
        {






            



                <div class="article-image">
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <Image Src="@item.ImageUrl" alt="@item.Title" />
                    }
                </div>

                <div class="article-container">
                    <div class="article-info">
                        <h3>@item.Title</h3>
                        <p class="timedate"><em>@item.PublishDate.ToLocalTime().ToString("MMMM dd, yyyy HH:mm")</em></p>
                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <p>@item.Description</p>
                        }
                        else
                        {
                            <p>@item.Summary</p>
                        }
                    </div>
                </div>


            

        }
        </div>
    </div>
}




@code {
    private List<RssFeedItem>? newsItems;

    protected override async Task OnInitializedAsync()
    {
        newsItems = await RssFeedService.GetRssFeedAsync();


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine($"firstRender: {firstRender}");

        if (firstRender)
        {
            Console.WriteLine("Calling Javascript autoscroll");

            await JSRuntime.InvokeVoidAsync("startAutoScroll", "scroll-container");
        }
    }
    
}